[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
python-pptx = "*"
groq = "*"
numpy = "*"
"spire.presentation" = "*"
fastapi = {extras = ["all"], version = "*"}

[dev-packages]

[requires]
python_version = "*"
