@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: auto;
  margin: 0 auto;
  border-bottom: 1px solid #FFDBA1;
  background-color:  #FFF3E0;

}
.navbar h1 {
  color:black;
  font-size: 2.5rem;
  font-weight: bolder;
}
.navbar .links {
  margin-left: auto;
  font-size: 1.5rem;
  font-weight: bold;
  color: black;

}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  font-weight: bold;
  padding: 6px;
  color: black;
}
.navbar a:hover {
  color: #EF6C00;
}
.navbar a:active{
  color: #EF6C00;

}

.content {
  max-width: auto;
  margin: auto;
}

/* Landing Page */
.body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color:  #FFF3E0;
  line-height: 1.6;
}

/* Main Container */
.main-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
  text-align: center;
  /*background: linear-gradient(135deg,#f0841e#FAC898); */
  
}

/* Main Heading */
.main-head h1 {
  font-size: 5rem;
  font-weight: bolder;
  margin-bottom: 1rem;
  color:black;
}

/* Subheading */
.sub-head h2 {
  font-size: 2rem;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 2rem;
  color: black; 
}

/* Description */
.description {
  max-width: 1300px;
  padding: 20px;
  background-color:  #FFF3E0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.description h3 {
  font-size: 1.75rem;
  font-weight: bold;
  margin: 0;
  color: #EF6C00;
  line-height: 1.8;
}

/* Responsive Design */
@media (max-width: 768px) {
  .main-head h1 {
      font-size: 2.5rem;
  }

  .sub-head h2 {
      font-size: 1.8rem;
  }

  .description h3 {
      font-size: 1.1rem;
  }
}

/* Base styles for the heading */
.animated-heading {
  display: inline-block;
}

/* Style for individual letters */
.animated-heading .letter {
  display: inline-block;
  opacity: 0;
  transform: translateX(-20px);
  animation: slideIn 0.5s forwards;
  animation-delay: var(--delay);
}

/* Keyframes for the animation */
@keyframes slideIn {
  0% {
      opacity: 0;
      transform: translateX(-20px);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

button {
  padding: 10px 20px;
  font-size: 25px;
  font-family: "Quicksand";
  font-weight: 800;
  color: white;
  background-color: #EF6C00;
  border: none;
  border-radius: 1.5rem;
  cursor: pointer;
}

button:hover {
  background-color: black;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* SELECTION PAGE////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.mpage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: 0;
  background-color: #FFF3E0;
}

.mcontent{
  background-color: #FFF3E0;
}

.mheading {
  flex: 1;
  padding: 20px;
  text-align: left; /* Aligns the heading to the left */
  margin-bottom: 20px;
  color: black;
}

.mheading h1 {
  margin-left: auto;
  font-size: 1.5rem;
  color: #EF6C00; /* Sets the color to blue */
}

.mtagline{
  text-align: center;
  font-style: italic;
  font-size: xx-large;
  margin-top: 80px;
}
span.mtagline-primary{
  color: black;
  font-size: 50px;
}
span.mtagline-secondary{
  color: #EF6C00;
  margin-top: 200px;
}
.mtagline-end {
  font-style: italic; /* Optional: Makes it look like a quotation */
  position: relative;
  text-align: center;
  margin-top: -130px;
  font-size: 40px;
  font-weight: bold;
}

.mcard-container {
  display: flex;
  justify-content: center;
  gap: 80px;

}
.mpage-container a{
  text-decoration: none;
}

.mcard {
  width: 300px;
  height: 300px;
  padding: 20px;
  border: 15px solid #FFDBA1; /* Adjust the border thickness if needed */
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: white;
  transition: transform 0.3s, box-shadow 0.3s;
  margin-top: -150px;
  
}

.mcard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.mcard p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
  font-size: 22px;
  margin-top: 80px; /* Adjust the value as needed for desired gap */
  
}
.mcard h3{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #EF6C00;
  font-size: 35px;
  margin-top: 10px;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* GENERATION PAGE////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */





