
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap'); */
/* base styles */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  margin: 0;
  font-family: Quicksand;
}

#generateform {
  background-color: #f6f6fd;
}
#generatedbox{
  background-color: #f6f6fd;
}


/* Landing Page */
/* Tailwind CSS Custom Animation */
@keyframes slideIn {
  0% {
      opacity: 0;
      transform: translateX(-20px);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

.letter {
  display: inline-block;
  opacity: 0;
  transform: translateX(-20px);
  animation: slideIn 0.5s forwards;
  animation-delay: var(--delay);
}



/* button {
  padding: 10px 20px;
  font-size: 25px;
  font-family: "Quicksand";
  font-weight: 800;
  color: white;
  background-color: #EF6C00;
  border: none;
  border-radius: 1.5rem;
  cursor: pointer;
}

button:hover {
  background-color: black;
} */

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* SELECTION PAGE////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */



/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* GENERATION PAGE////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

