/* RatingPage CSS */
.rating-page {
    background-color: #FFF3E0;
    text-align: center;
    display: flex;
   flex-direction: column;
   align-items: center;
    justify-content: center;
    padding: 50px;
  }
  
  .catchy-heading {

    min-height: 15vh;
    font-size: 4.5rem;
    color: #EF6C00;
    font-weight: bolder;
    margin-bottom: 20px;
    display: inline-block;
  }
  
  /* Style for individual letters */
  .catchy-heading .letter {
    display: inline-block;
    opacity: 0;
    transform: translateX(-20px);
    animation: slideIn 0.5s forwards;
    animation-delay: var(--delay);
  }
  
  /* Keyframes for the animation */
  @keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
  }
  
  p {
    font-size: 2.9rem;
    font-weight: bold;
    font-style: italic;
    color: black;
    min-height: 13vh;
  }
  
  .file-upload {
    margin: 20px 0;
  }
  
  input[type="file"] {
    padding: 10px;
    font-size: 1.5rem;
    border: 1.5px solid #FFDBA1;
    border-radius: 1.5rem;
  }
  
  .check-button {
    padding: 10px 20px;
    font-size: 25px;
    font-family: "Quicksand";
    font-weight: 800;
    color: white;
    background-color: #EF6C00;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
  }
  
  .check-button:hover {
    background-color: black;
  }
  
  .score-result {
    margin-top: 20px;
    font-size: 2rem;
    color: black;
  }
  
  .score-result h2 {
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Adjust the chart container for better spacing */
  .score-result canvas {
    max-width: 400px;
    max-height: 400px;
    margin-top: 20px;
  }